fastapi>=0.116.1
uvicorn>=0.27.0
python-consul>=1.1.0
httpx>=0.26.0
pydantic>=2.6.0
pydantic-settings>=2.1.0
python-multipart>=0.0.7
numpy
Cython==0.29.36
python-magic==0.4.27  
aiohttp
pyproject-metadata==0.7.1
packaging==24.0
tomli==2.0.1
setuptools==68.2.2
file:///deps/common-0.1.0-py3-none-any.whl

